<p>if the user is a customer (in the company column, it stores 0) then render the customer partial (look in views/partials/coupons/customer.handlebars)</p>

<p>this file is being rendered in views/coupons/index.handlebars</p>

<p>You are a customer</p>

<h2>Coupons for sale</h2>

{{> coupons/coupons}}
